name: Production Release - Build and Push From Prepared Tag/Branch

env:
  ECR_REPOSITORY: stg-ghe-base-images

on:
  workflow_dispatch:
    inputs:
      Version:
        description: "Version: Tag or Branch to checkout (e.g., 25.10.1 or release/25.10.1) with prepared Docker files"
        default: "25.10.1"
        type: string
        required: true
      IsLatest:
        description: "IsLatest: (default true) If True, merge changes into main branch after successful publish"
        default: true
        type: boolean
permissions:
  contents: write

jobs:
  Production_Release_From_Prepared_Version:
    runs-on: [ mend-self-hosted, profile=developer-platform-xlarge-od ]

    steps:
      - name: Checkout Prepared Version
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.Version }}
          fetch-depth: 0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "role" ## TODO change secret? role?
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Log in to Docker Hub (Mend Hub)
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Download All Images from ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          ./bin/download-ecr-images.sh "${{ github.event.inputs.Version }}" "$ECR_REGISTRY" "$ECR_REPOSITORY"

      - name: Tag Images for Mend Hub
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          ./bin/tag-ecr-images.sh "${{ github.event.inputs.Version }}" "$ECR_REGISTRY" "$ECR_REPOSITORY"

      - name: Publish All Images to Mend Hub
        run: |
          ./bin/publish-to-mend-hub.sh ${{ github.event.inputs.Version }}

      - name: Merge to Main Branch
        if: ${{ github.event.inputs.IsLatest == 'true' }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          ./bin/merge-to-main.sh ${{ github.event.inputs.Version }}

      - name: Notify Slack - Images Ready
        if: always()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          ./bin/notify-slack.sh "Production" "${{ github.event.inputs.Version }}" "DockerHub" "mend" "" "${{ job.status }}" "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}" "#repo_integration_prod_releases"

